<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
	<configuration-properties doc:name="Configuration properties" doc:id="eb1f5e11-48a2-4b8b-85e5-586d49c69f8f" file="dev.yaml" />
	<db:config name="Database_Config" doc:name="Database Config" doc:id="47648c80-016f-4df7-b0b3-c6156f05984f" >
		<db:my-sql-connection host="${db.host}" port="${db.port}" user="${db.user}" password="${db.password}" database="${db.database}" />
	</db:config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="2da69a8a-291e-453e-b07a-6511f7092db0" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<jms:config name="JMS_Config" doc:name="JMS Config" doc:id="afb6ee77-4c19-4c66-831d-b7500c47b45e" >
		<jms:active-mq-connection username="${mq.user}" password="${mq.password}" >
			<jms:factory-configuration brokerUrl="tcp://${mq.host}:${mq.port}" />
		</jms:active-mq-connection>
	</jms:config>
</mule>
